@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
    font-family: "Poppins", sans-serif;
}
body {
    background-color: #0d1117;
    color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
}
a {
    text-decoration: none !important;
    color: #0d1117;
}
h1,
h4 {
    color: #5ee3ee;
    width: 100%;
    text-align: center;
    margin: 0;
}
h1 {
    white-space: nowrap;
    font-weight: 600;
}
h5 {
    font-size: 1.1rem;
}
h3,
h5 {
    width: 100%;
    text-align: center;
}
.colo,
.colo > *,
.btn-outline-success {
    color: #5ee3ee !important;
}
.btn-outline-success:hover {
    background-color: #5ee3ee !important;
    color: rgb(20, 21, 23) !important;
}
.nav {
    width: 100%;
    display: block;
}
.left-nav {
    display: flex;
}
.title {
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    font-weight: 600;
    font-size: 2rem;
}
.x-logo {
    height: 3.5rem;
    margin-top: 0.5rem;
}
.container {
    margin-top: 3rem;
    width: 70%;
    min-height: 70vh;
}
.frnt-img {
    width: 80%;
    margin-left: 3rem;
}
.ttxt {
    font-size: 1.4rem;
}
.footer {
    width: 100% !important;
    height: 6rem;
    margin-top: 3rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}
.fnav {
    display: flex;
    gap: 1rem;
    justify-content: end;
}
.footer-left,
.footer-right {
    width: 40%;
}
.video-cont {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    z-index: -1;
    opacity: 0.6;
    top: 0;
    left: 0;
}

/* contact page  */
#Contact {
    overflow: hidden;
}
.lcm {
    font-weight: 600;
}
.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 4rem;
}
.left-contact,
.right-contact {
    overflow: hidden;
    border: #5ee3ee 8px solid;
    width: 40%;
    height: 25rem;
    padding: 1rem 2rem;
    border-radius: 1.2rem;
    margin-bottom: 1rem;
}
.ctinp {
    width: 100%;
    background: transparent;
    border: none;
    color: #5ee3ee;
    border-bottom: #5ee3ee 1px solid;
    margin-top: 1.5rem;
}
.cbtn {
    margin: auto;
    background-color: #5ee3ee;
    color: #0d1117;
    border: none;
    width: 8rem;
    height: 3rem;
    border-radius: 1.2rem;
    margin-top: 1rem;
}
.reach {
    width: 100% !important;
    height: 4rem;
    margin-top: 2rem;
}

.reach > a {
    font-size: 1.5rem;
}
#name,
#email {
    height: 3rem;
}
#message {
    height: 5rem;
}

/* events page  */
.events {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}
.event {
    width: 100%;
    display: flex;
    border: #5ee3ee 8px solid;
    border-radius: 1.2rem;
    margin-top: 4rem;
    height: 16.66rem;
    
}
.card-left {
    width: 25rem;
    overflow: hidden;
}
.card-left > img {
    height: 100%;
    border-radius: 1.2rem 0 0 1.2rem;
}
.card-right {
    padding: 1rem;
    border-left: #5ee3ee 8px solid;
    width: 75%;
    padding-left: 1rem;
}
.card-right > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0;
    margin: auto;
}
.card-right > ul > li {
    color: #5ee3ee;
    font-size: 1.1rem;
    font-weight: 600;
    width: 40%;
    margin-top: 1rem;
}
.card-right > ul > li > svg {
    margin-right: 1rem;
}
.evtop {
    display: flex;
    justify-content: space-between;
}
.evbtm{
    display: none;
}

.evtop > h3 {
    width: fit-content !important;
    color: #5ee3ee;
    font-weight: 560;
    margin: 0;
    font-size: 2rem;
}
.register {
    margin: 0;
    background-color: #5ee3ee;
    color: #0d1117;
    border: none;
    width: 10rem;
    height: 3rem;
    border-radius: 1.2rem;
    font-weight: 560;
}


@media (max-width: 576px) {
    .container {
        width: 100%;
        min-height: 100vh;
    }
    .ncll {
        width: 100%;
        position: fixed;
        top: 5rem;
        left: 0;
        padding-left: 0.5rem;
        padding-bottom: 0.5rem;
    }
    .frnt-img {
        width: -webkit-fill-available;
        margin-left: 0;
    }
    h3,
    h5,
    .ttxt {
        font-size: 1rem;
    }
    .video-cont {
        width: 100%;
        height: 100vh;
        overflow: hidden;
        position: fixed;
        z-index: -1;
        opacity: 0.6;
    }
    .footer {
        /* position: fixed; */
        bottom: 0;
        z-index: -1;
    }
    .bb {
        display: none;
    }
    .footer-left {
        width: -webkit-fill-available;
    }
    .footer-right {
        width: 30%;
        padding-right: 0.5rem;
        margin: 0;
    }
    .ftxt {
        font-size: 1rem;
    }

    /* contact page  */
    .contact {
        display: flex;
        flex-direction: column;
    }
    .left-contact,
    .right-contact {
        width: 100%;
        height: 25rem;
        padding: 1rem 2rem;
        border-radius: 1.2rem;
    }

    /* event page  */
    #Events > h5 {
        margin-top: 1rem;
        text-align: justify;
    }
    .event {
        height: 29rem;
        width: 100%;
        flex-direction: column;
    }
    .card-left {
        width: 100%;
        height: 12rem;
        overflow: hidden;
    }
    .card-left > img {
        height: 100%;
        border-radius: 1.2rem 0 0 1.2rem;
        width: 100%;
    }
    .card-right {
        border: none;
        border-top: #5ee3ee 8px solid;
        padding: 1rem;
        width: 100%;
        padding-left: 1rem;
    }
    .card-right > ul {
        display: none;
    }
    .evbtm{
        display: flex;
        justify-content: space-evenly;
    }
    .evtop > a,
    .evtop > button {
        display: none;
    }
    .evtop > h3 {
        width: 100% !important;
        color: #5ee3ee;
        font-weight: 560;
        margin: 0;
        font-size: 2rem;
    }
    .evbtm > a {
        width: 40%;
    }
    .evbtm > a > .register {
        width: 100%;
    }
    .register {
        margin: 0;
        background-color: #5ee3ee;
        color: #0d1117;
        border: none;
        width: 40%;
        height: 3rem;
        border-radius: 1.2rem;
        font-weight: 560;
    }
}
