@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
*{
	font-family: "Poppins", sans-serif;
}
body {
    background-color: #0d1117;
    color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
}
a {
    text-decoration: none;
}
.colo,.btn-outline-success{
	color: #5ee3ee!important;
}
.btn-outline-success:hover{
	background-color:#5ee3ee!important;
	color: rgb(20, 21, 23)!important;
}
.nav {
	width: 100%;
	display: block;
}
.left-nav{
	display: flex;
}
h5{
	font-size:1.1rem;
}
.title {
	margin-left: 0.5rem;
	margin-top: 0.5rem;
	font-weight: 600;
	font-size: 2rem;
}
.x-logo{
	height: 3.5rem;
	margin-top: 0.5rem;
}
.container {
	margin-top: 3rem;
	width: 70%;
}
.frnt-img{
	width: -webkit-fill-available;
}
.ttxt{
	font-size: 1.4rem;
}
.footer{
	width: 100%!important;
	height: 6rem;
	margin-top: 3rem;
	position: static;
	display: flex;
	justify-content: center;
	align-items: center;
}
.fnav{
	display: flex;gap: 1rem;justify-content: end;
}
.footer-left,.footer-right{
	width: 40%;
}